/* Style for the code section */
code {
  position: relative;
  display: block;
  border: 1px solid;
  border-collapse: collapse;
  padding: 10px;
  /* top right bottom left */
  margin: 0px 0px 0px 0px;
}

/* Style for the "Copy Code" button within the code section */
code .copy-button {
  position: absolute;
  top: 8px; /* Adjust the top position as needed */
  right: 8px; /* Adjust the right position as needed */
  padding: 8px 16px;
  font-size: 14px;
  cursor: pointer;
  background-color: #4CAF50;
  color: #fff;
  border: 1px solid #4CAF50;
  border-radius: 4px;
  transition: background-color 0.3s;
}

code .copy-button:hover {
  background-color: #45a049;
}


/* copy-button {
  margin-top: 10px;
  cursor: pointer;
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
}
copy-button:hover {
  background-color: #45a049;
} */

.code-section {
  text-align: center;
  margin-top: 10px;
}
.code-section textarea {
  width: 100%;
  box-sizing: border-box;
}

p {
    font-size: 18px;
    text-align: left;
    /* top right bottom left */
    padding: 0px 10px 0px 25px;
    
    text-decoration: none;
    
}
ol {
    margin: 10px;
    /* font-size: inherit; */
    font-size: 18px;
}
h1{
    margin:10px;
}
h2{
    margin:10px;
}

h3{
    margin:15px;
}
table, th, td {
    border: 1px solid;
    border-collapse: collapse;
    padding:7px;
    /* top right bottom left */
    margin:0px 10px 0px 10px;
  }
/* mystyle.css */
body {
    margin: 0;
    padding: 0;
}

ol{
  /* line-height: 30px; */
  font-family: Arial, Helvetica, sans-serif;
  /* font-weight: bold; */
}


a {
  font-weight: bolder;
  text-decoration: none;
  color: #000000;
  /* background-color: #ececec; */
  /* border: #000000;
  border-style: solid;
  border-width: 1px; */
}
/* Add a red background color to navbar links on hover */
a:visited {
  color: #333;
  text-decoration: none;
  text-decoration-color: #ff0000;
  text-decoration: solid;
}
a:hover {
  background-color: red;
}

a:visited:hover {
  background-color: rgba(0, 255, 00, 0.171);
}

.navbar-frame {
    width: 100%;
    height: 15px; /* Adjust the height as needed */
    border: none;
    /* border-collapse: collapse; */
}

/* Navbar container */
.navbar {
    font-weight: bold;
    overflow: hidden;
    background-color: #333;
    font-family: Arial;
    font-size: 18px;
    border-style: solid;
    border-color: rgb(92, 92, 92);
    /* border:none; */
    border-width: 1px;
  }
  
  /* Links inside the navbar */
  .navbar a {
    font-weight: bold;    
    float: left;
    font-size: inherit;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-color: inherit;
    border-style: inherit;
    border-width: inherit;
    /* border:#ddd */
    
  }
  
  /* The dropdown container */
  .dropdown {
    float: left;
    overflow: hidden;
    border-color: inherit;
    border-style: inherit;
    border-width: inherit;
  }
  
  /* Dropdown button */
  .dropdown .dropbtn {
    font-weight: bold;
    font-size: inherit;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
    
  }
  
  /* Add a red background color to navbar links on hover */
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: red;
  }
  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-color: rgba(0,0,0,0.2);
    border-style: inherit;
    border-width: inherit;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }

  * {
    box-sizing: border-box;
  }
  /* Slideshow container */
  .slideshow-container {
    max-width: max-content; /* ensure images don't get stretched */
    position: relative;
    margin: auto;
  }
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 24px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    background-color: rgba(0, 0, 0, 0.8);
  }
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: #333;
  }
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  /* The dots/bullets/indicators */
  .dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  .active, .dot:hover {
    background-color: #717171;
  }
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  /* Additional styles for the copy button */
  .copy-button {
    margin-top: 10px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
  }
  .copy-button:hover {
    background-color: #45a049;
  }
  /* Additional styles for the code box */
  .code-section {
    text-align: center;
    margin-top: 10px;
  }
  .code-section textarea {
    width: 100%;
    box-sizing: border-box;
  }
  /* Additional styles for the plain text box */
  .text-section {
    text-align: center;
    margin-top: 10px;
  }
  .text-section textarea {
    width: 100%;
    box-sizing: border-box;
  }
  .text-section p{
    width: 100%;
    box-sizing: border-box;
    text-align: center;
  }

  .center {
    margin-top: 20px;
    margin-bottom: 10px;
    max-width: max-content;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
  }

  .desc {
    display: block;
    font-size: 18px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    width: 50%;
    border: #000000;
    border-width: 2px;
    padding: 10px;
    border-radius: 4px;
    border-style: solid;
    background-color: #e6e6e6;
  }

  .gallery{
    display: block;
    font-size: 18px;
    margin-left: auto;
    /* margin-right: 10px; */
    margin-right: auto;
    margin-top: 10px;
    width:fit-content;
    max-width: 80%;
    border: #000000;
    border-width: 2px;
    padding: 10px;
    border-radius: 4px;
    border-style: solid;
    background-color: #ffffff;
  }